.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f1ebf5;
  color: rgb(0, 0, 0);
  padding: 30px 60px;
  z-index: 99999;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  animation: slide-up 1s forwards;

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .cookie-message-title {
    @include adaptiv-font(24, 24);
    @media (max-width: 580px) {
      text-align: center;
    }
  }
  .cookie-message-text {
    margin-bottom: 20px;
    @include adaptiv-font(16, 16);
    line-height: calc(28 / 16);
  }

  .cookie-accept-btn {
    display: block;
    margin-left: auto;
    @include adaptiv-font(16, 16);
    line-height: calc(35 / 16);
    font-weight: 700;
    padding: 12px 25px;
    border: 2px solid #0f3d34;
    color: #0f3d34;
    text-transform: uppercase;
    font-family: Lato-Black;
    background-color: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .btn-icon {
      fill: #0f3d34;
      margin-left: 15px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(0px, 0);
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    &:hover .btn-icon,
    &:active.btn-icon,
    &:focus .btn-icon {
      transform: translate(5px, 0);
    }
    @media (max-width: 580px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
